*.cmake
*.o
*.a
*.obj
*.so
*.lib
*.pdb
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
install_manifest.txt
cxxtest_*.cpp
glam/config.h
example/dft
example/glslvec
example/linalgperf
example/vecmath
example/gmp
example/benchmark
example/benchmark2
test/math
test/vector
test/matrix
test/vector_sse
